* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background: #2d3436;
    color: #fff;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.border {
    width: 100px;
    height: 4px;
    background: #fff;
    margin: 30px auto;
}

.search-box {
    border-radius: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #e17055;
}

.search-btn {
    color: #e17055;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

input {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #fff;
    font-size: 16px;
    padding: 0;
    transition: .6s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover > input {
    width: 240px;
    padding: 0 10px;
}

@media screen and (max-width: 480px) {
    .search-box:hover > input {
        width: 180px;
        padding: 0 10px;
    }
}