<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./static/library/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./static/syk/css/loader.css" />
        <title>請填寫信用卡資訊</title>
        <style>
            .form-control {
                padding: .375rem .375rem;
            }
        </style>
    </head>
    <body>
        <div id="app" class="container">
            <div class="loader" v-show="loading">Loading...</div>
            <div v-show="!loading">
                <div class="row mb-2 mt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-12">
                        <div class="card border-warning">
                            <div class="card-header bg-warning text-center">請填寫信用卡資訊<br>Credit Card Info</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <label for="">信用卡卡號(Number)</label>
                                    <div class="input-group" v-show="tmp.cardtype!='AE'">
                                        <input type="text" class="form-control text-center" v-model="tmp.cardno1" ref="cardno1" @keydown="checkInput(event, '', 'cardno2')" @keyup="move(event, '', 'cardno2')" />
                                        <input type="text" class="form-control text-center" v-model="tmp.cardno2" ref="cardno2" @keydown="checkInput(event, 'cardno1', 'cardno3')" @keyup="move(event, 'cardno1', 'cardno3')" />
                                        <input type="text" class="form-control text-center" v-model="tmp.cardno3" ref="cardno3" @keydown="checkInput(event, 'cardno2', 'cardno4')" @keyup="move(event, 'cardno2', 'cardno4')" />
                                        <input type="text" class="form-control text-center" v-model="tmp.cardno4" ref="cardno4" @keydown="checkInput(event, 'cardno3', '')" @keyup="move(event, 'cardno3', '')" />
                                    </div>
                                    <div class="input-group" v-show="tmp.cardtype=='AE'">
                                        <input type="text" class="form-control text-center" v-model="tmp.cardae" ref="cardae" />
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <label for="">信用卡有效日期(Expired Date)</label>
                                    <div class="input-group">
                                        <select class="custom-select" v-model="tmp.month">
                                            <option value="">月(Month)</option>
                                            <option v-for="month in monthopt" :key="month" :value="month">${ month }</option>
                                        </select>
                                        <select class="custom-select" v-model="tmp.year">
                                            <option value="">年(Year)</option>
                                            <option v-for="year in yearopt" :key="year" :value="year">${ year }</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <label for="">信用卡檢核碼(CVV2)</label>
                                    <input type="text" class="form-control text-center" v-model="tmp.cvv2" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row mb-2 mt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <button class="btn btn-outline-danger" @click="submit">下一步(Next)</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="./static/library/jquery/jquery-3.3.1.min.js"></script>
        <script src="./static/library/vue-2.3.0/vue.min.js"></script>
        <script>

            var app = new Vue({
                el: "#app",
                delimiters: ['${', '}'],
                data: {
                    loading: false,
                    title: "信用卡",
                    now: new Date(),
                    form: {
                        token: "{{ .token }}",
                        cardType: "",
                        cardNo: "",
                        expDate: "",
                        cvv2: "",
                    },
                    tmp: {
                        cardtype: "",
                        cardno1: "",
                        cardno2: "",
                        cardno3: "",
                        cardno4: "",
                        cardae: "",
                        month: "",
                        year: "",
                        cvv2: "",
                    }
                },
                computed: {
                    monthopt: function(){
                        var months = [];
                        for (var i = 1; i <= 12; i++) {
                            months.push(("0" + i).slice(-2));
                        }
                        return months;
                    },
                    yearopt: function(){
                        var years = [];
                        for (var i = 0; i < 16; i++) {
                            var y = this.now.getFullYear() + i;
                            years.push(("000" + y).slice(-4));
                        }
                        return years;
                    },
                },
                methods: {
                    checkInput: function(event, pref, next) {
                        if (!event.key.match('[0-9]') && event.key != 'ArrowLeft' && event.key != 'ArrowRight' && event.key != 'Backspace' && event.key != 'Shift') {
                            event.preventDefault();
                            return;
                        }
                        if (event.target.value.length >= 4 && (event.key != 'ArrowLeft' && event.key != 'ArrowRight' && event.key != 'Backspace' && event.key != 'Shift')) {
                            event.preventDefault();
                            return;
                        }
                        if (!event.target.value && event.key == 'Backspace' && pref) {
                            this.$refs[pref].focus()
                        }
                    },
                    move: function(event, pref, next) {
                        if (event.target.value && 
                            event.target.value.length == 4 && 
                            (event.key != 'ArrowLeft' && event.key != 'ArrowRight' && event.key != 'Backspace' && event.key != 'Shift') &&
                            next) {
                            this.$refs[next].focus()
                        }
                    },
                    validate: function() {
                        // card type
                        if (!this.tmp.cardtype) {
                            alert("請選擇卡別");
                            return false;
                        }

                        // card no
                        if (this.tmp.cardtype == 'AE' && !this.tmp.cardae.match('^3[4|7][0-9]{13}$')) {
                            alert("信用卡格式輸入錯誤");
                            return false;
                        } else {
                            var tmp = this.tmp.cardno1 + this.tmp.cardno2 + this.tmp.cardno3 + this.tmp.cardno4

                            // visa
                            if (this.tmp.cardtype == 'VISA' && !tmp.match("^4[0-9]{15}$")) {
                                alert("信用卡格式輸入錯誤");
                                return false;
                            }

                            // master
                            if (this.tmp.cardtype == 'MASTER' && !tmp.match("^5[0-9]{15}$")) {
                                alert("信用卡格式輸入錯誤");
                                return false;
                            }

                            // jcb len 16
                            if (this.tmp.cardtype == 'JCB' && !tmp.match("^3[0-9]{15}$")) {
                                alert("信用卡格式輸入錯誤");
                                return false;
                            }
                        }

                        // expired date
                        if (!this.tmp.month) {
                            alert("請選擇過期月份");
                            return false;
                        }

                        // expired date
                        if (!this.tmp.year) {
                            alert("請選擇過期年份");
                            return false;
                        }

                        // cvv2
                        if (!this.tmp.cvv2.match('^[0-9]{3}$|^[0-9]{4}$')) {
                            alert("檢核碼輸入錯誤");
                            return false;
                        }

                        return true;
                    },
                    submit: function() {
                        if (!this.validate()) {
                            return;                            
                        }

                        // build form param
                        this.form.cardType = this.tmp.cardtype;
                        if (this.form.cardType == 'AE') {
                            this.form.cardNo = this.tmp.cardae;
                        } else {
                            this.form.cardNo = this.tmp.cardno1 + this.tmp.cardno2 + this.tmp.cardno3 + this.tmp.cardno4;
                        }
                        this.form.expDate = this.tmp.year.slice(-2) + this.tmp.month;
                        this.form.cvv2 = this.tmp.cvv2;

                        var $this = this;

                        $.ajax({
                            type: "POST",
                            url: "/v1/submit",
                            async: true, // 使用同步方式
                            cache: false,
                            data: JSON.stringify($this.form),
                            contentType: "application/json; charset=utf-8",
                            beforeSend: function() {
                                $this.loading = true;
                            },
                            complete: function() {
                               
                            },
                            success: function(data) {
                                if (data.redirectUrl) {
                                    window.location.replace(data.redirectUrl);
                                    return
                                }
                                if (!data.status) {
                                    $this.loading = false;
                                    alert(data.message)
                                }
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                console.log(XMLHttpRequest)
                                console.log(textStatus)
                                console.log(errorThrown)
                                // if (XMLHttpRequest.status == 200) {
                                // 	window.location.replace("/v1/confirmOrder");
                                // } else {
                                // 	window.location.replace("/unfefined");
                                // }
                            }
                        });
                    },
                },
            })
        </script>
    </body>
</html>